<<<<<<< HEAD
<% provide(:title, 'Home') %>
<!DOCTYPE html>
    <h1>Stocktators</h1>
    <p>
	Welcome to Stocktators! Your hub for finding and posting your stock predictions.
    </p>

=======
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">And now this is.. Stocktators!!</a>
  sample application.
</p>
>>>>>>> e4cf2546987ab241d83c3e2ae249e8a06951b6a0


