<div class="center hero-unit">
	<h1>Welcome to Stocktators!</h1>

	<h2>
	Welcome to Stocktators! Your hub for finding and posting your stock predictions.
	</h2>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("stock_trend.jpg", alt: "Stocks"), 'http://finance.yahoo.com/' %>
